In [1]:
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./tinkoff_hackathon_data/avk_hackathon_data_train_transactions.csv')

In [3]:
df = df.drop(columns=['account_rk', 'merchant_rk'])
df = df[df.category.notna()]
df['merchant_group_rk'] = df['merchant_group_rk'].fillna(0)

In [4]:

df['transaction_dttm'] = df['transaction_dttm'].apply(lambda x: x[:-3])
df.head()

,party_rk,financial_account_type_cd,transaction_dttm,transaction_type_desc,transaction_amt_rur,merchant_type,merchant_group_rk,category
0,20337,1,2019-01,Покупка,84.00,348.0,0.0,Сувениры
1,63404,1,2019-01,Покупка,410.00,330.0,725.0,Фаст Фуд
2,24789,2,2019-01,Покупка,701.44,291.0,0.0,Супермаркеты
3,57970,2,2019-01,Покупка,6203.70,278.0,454.0,Дом/Ремонт
4,12232,2,2019-01,Покупка,734.53,286.0,878.0,Супермаркеты

In [5]:
groups = df.groupby(['party_rk', 'transaction_dttm'])

In [6]:
account_types = groups.financial_account_type_cd.unique().apply(lambda x: sum(x))
account_types

party_rk  transaction_dttm
1         2019-02             1
          2019-03             1
          2019-04             1
          2019-05             1
          2019-06             1
                             ..
94608     2019-02             1
          2019-05             1
94610     2019-10             2
          2019-11             2
          2019-12             2
Name: financial_account_type_cd, Length: 426111, dtype: int64

In [7]:
groups_transaction_type = df.groupby(['party_rk', 'transaction_dttm', 'transaction_type_desc'])
transaction_types = groups_transaction_type.transaction_amt_rur.sum().reset_index(name='Money').groupby(['party_rk', 'transaction_dttm']).max()

In [8]:
groups_merchant_type = df.groupby(['party_rk', 'transaction_dttm', 'merchant_type'])
merchant_types = groups_merchant_type.transaction_amt_rur.sum().reset_index(name='Money').groupby(['party_rk', 'transaction_dttm']).max()

In [9]:
groups_merchant_group = df.groupby(['party_rk', 'transaction_dttm', 'merchant_group_rk'])
merchant_groups = groups_merchant_group.transaction_amt_rur.sum().reset_index(name='Money').groupby(['party_rk', 'transaction_dttm']).max()

In [10]:
transaction_types = transaction_types.drop('Money', axis=1)
merchant_types = merchant_types.drop('Money', axis=1)
merchant_groups = merchant_groups.drop('Money', axis=1)

In [11]:
groups_category = df.groupby(['party_rk', 'transaction_dttm', 'category'])
category_groups = groups_category.transaction_amt_rur.sum().reset_index(name='Money')

In [12]:
tmp = pd.merge(category_groups, transaction_types, how='left', left_on=['party_rk','transaction_dttm'], right_on = ['party_rk','transaction_dttm'])
tmp = pd.merge(tmp, merchant_types, how='left', left_on=['party_rk','transaction_dttm'], right_on = ['party_rk','transaction_dttm'])
tmp = pd.merge(tmp, merchant_groups, how='left', left_on=['party_rk','transaction_dttm'], right_on = ['party_rk','transaction_dttm'])
tmp = pd.merge(tmp, account_types, how='left', left_on=['party_rk','transaction_dttm'], right_on = ['party_rk','transaction_dttm'])
tmp

,party_rk,transaction_dttm,category,Money,transaction_type_desc,merchant_type,merchant_group_rk,financial_account_type_cd
0,1,2019-02,Одежда/Обувь,2955.00,Покупка,330.0,1467.0,1
1,1,2019-02,Супермаркеты,8024.35,Покупка,330.0,1467.0,1
2,1,2019-02,Фаст Фуд,958.00,Покупка,330.0,1467.0,1
3,1,2019-03,Госсборы,771.50,Покупка,496.0,1467.0,1
4,1,2019-03,Одежда/Обувь,2048.00,Покупка,496.0,1467.0,1
...,...,...,...,...,...,...,...,...
2345171,94610,2019-12,Госсборы,241.28,Покупка,495.0,878.0,2
2345172,94610,2019-12,Красота,275.00,Покупка,495.0,878.0,2
2345173,94610,2019-12,Одежда/Обувь,25476.00,Покупка,495.0,878.0,2
2345174,94610,2019-12,Разные товары,911.00,Покупка,495.0,878.0,2
2345175,94610,2019-12,Супермаркеты,3070.83,Покупка,495.0,878.0,2

In [13]:
tmp['next_month_money'] = tmp.sort_values(by=['transaction_dttm'], ascending=True).groupby(['party_rk', 'category'])['Money'].shift(-1)

In [14]:
tmp_group = tmp.groupby(['party_rk']).transaction_dttm.max()
tmp_df = pd.DataFrame({'party_rk':tmp_group.index, 'transaction_dttm':tmp_group.values, 'drop_flag': True})

In [15]:
tmp_df

       party_rk transaction_dttm  drop_flag
0             1          2019-12       True
1             5          2019-12       True
2             7          2019-12       True
3             8          2019-10       True
4             9          2019-11       True
...         ...              ...        ...
49907     94603          2019-12       True
49908     94606          2019-10       True
49909     94607          2019-12       True
49910     94608          2019-05       True
49911     94610          2019-12       True

[49912 rows x 3 columns]

In [16]:
kostil = pd.merge(tmp, tmp_df, how='left', left_on=['party_rk','transaction_dttm'], right_on = ['party_rk','transaction_dttm'])
kostil = kostil.drop(kostil[kostil.drop_flag.notna()].index)
kostil

,party_rk,transaction_dttm,category,Money,transaction_type_desc,merchant_type,merchant_group_rk,financial_account_type_cd,next_month_money,drop_flag
0,1,2019-02,Одежда/Обувь,2955.00,Покупка,330.0,1467.0,1,2048.00,NaN
1,1,2019-02,Супермаркеты,8024.35,Покупка,330.0,1467.0,1,502.00,NaN
2,1,2019-02,Фаст Фуд,958.00,Покупка,330.0,1467.0,1,1301.00,NaN
3,1,2019-03,Госсборы,771.50,Покупка,496.0,1467.0,1,NaN,NaN
4,1,2019-03,Одежда/Обувь,2048.00,Покупка,496.0,1467.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2345165,94610,2019-10,Разные товары,429.00,Покупка,346.0,878.0,2,911.00,NaN
2345166,94610,2019-10,Спорттовары,462.00,Покупка,346.0,878.0,2,NaN,NaN
2345167,94610,2019-10,Супермаркеты,6012.68,Покупка,346.0,878.0,2,3070.83,NaN
2345168,94610,2019-10,Фаст Фуд,687.28,Покупка,346.0,878.0,2,NaN,NaN
2345169,94610,2019-11,НКО,81.00,Покупка,491.0,0.0,2,NaN,NaN

In [17]:
kostil = kostil.drop(columns=['drop_flag'])

In [18]:
kostil['next_month_money'] = kostil['next_month_money'].fillna(0)
kostil

,party_rk,transaction_dttm,category,Money,transaction_type_desc,merchant_type,merchant_group_rk,financial_account_type_cd,next_month_money
0,1,2019-02,Одежда/Обувь,2955.00,Покупка,330.0,1467.0,1,2048.00
1,1,2019-02,Супермаркеты,8024.35,Покупка,330.0,1467.0,1,502.00
2,1,2019-02,Фаст Фуд,958.00,Покупка,330.0,1467.0,1,1301.00
3,1,2019-03,Госсборы,771.50,Покупка,496.0,1467.0,1,0.00
4,1,2019-03,Одежда/Обувь,2048.00,Покупка,496.0,1467.0,1,0.00
...,...,...,...,...,...,...,...,...,...
2345165,94610,2019-10,Разные товары,429.00,Покупка,346.0,878.0,2,911.00
2345166,94610,2019-10,Спорттовары,462.00,Покупка,346.0,878.0,2,0.00
2345167,94610,2019-10,Супермаркеты,6012.68,Покупка,346.0,878.0,2,3070.83
2345168,94610,2019-10,Фаст Фуд,687.28,Покупка,346.0,878.0,2,0.00
2345169,94610,2019-11,НКО,81.00,Покупка,491.0,0.0,2,0.00

In [34]:
# bio = pd.read_csv('./tinkoff_hackathon_data/avk_hackathon_data_party_x_socdem.csv')
# dataset = pd.merge(kostil, bio, how='left', left_on=['party_rk'], right_on = ['party_rk'])
dataset = kostil
datasets = {}
Ys = {}
for name, group in dataset.groupby('category'):
    x = group.drop(columns=['category', 'transaction_dttm', 'party_rk', 'next_month_money'])
    y = list(group.next_month_money)
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    datasets[name] = [x_train, x_test]
    Ys[name] = [y_train, y_test]

categorical_columns = [
    'transaction_type_desc',
#     'gender_cd',
#     'marital_status_desc',
]

categorical_transformer = OrdinalEncoder()
preprocessor = ColumnTransformer(
    transformers=[('cat', categorical_transformer, categorical_columns)]
)
regressor = Pipeline(steps=[
#     ('preprocessor', preprocessor),
    ('regressor', SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1,
               coef0=1))
])
x_train, x_test, y_train, y_test = *datasets['Супермаркеты'], *Ys['Супермаркеты']
x_train = x_train[:100]
x_test = x_test[:100]
y_train = y_train[:100]
y_test = y_test[:100]
x_train = x_train.join(pd.get_dummies(x_train['transaction_type_desc'])).drop(columns=['transaction_type_desc'])

In [ ]:
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_train)
# mean_squared_error(y_train, y_pred)
x1 = x2 = list(range(len(y_pred)))
plt.plot(x1, y_pred)
plt.plot(x2, y_train, alpha=0.5)
# plt.xlim([1000, 1200])
# plt.ylim([0, 8000])
plt.legend(["predicted", "true"])

In [67]:
resultdf = pd.DataFrame(columns=['binary_acc_type_1', 'binary_acc_type_2'])
for name, group in groups:
    obj = {}
    acc_type = group.financial_account_type_cd.unique()
    obj['binary_acc_type_1'] = 1 if 1 in acc_type else 0
    obj['binary_acc_type_2'] = 1 if 2 in acc_type else 0
    resultdf = resultdf.append(obj, ignore_index=True)
resultdf

KeyboardInterrupt:

In [69]:
groups.ngroups

426111

In [64]:
for name, gr in group:
    print(name)
    print(gr)
    break

(1, '2019-02')
         party_rk  financial_account_type_cd transaction_dttm  \
739021          1                          1          2019-02
746052          1                          1          2019-02
792851          1                          1          2019-02
834712          1                          1          2019-02
842511          1                          1          2019-02
866711          1                          1          2019-02
1026107         1                          1          2019-02
1046508         1                          1          2019-02
1064287         1                          1          2019-02
1207022         1                          1          2019-02
1253580         1                          1          2019-02
1284604         1                          1          2019-02

        transaction_type_desc  transaction_amt_rur  merchant_type  \
739021                Покупка               735.90          286.0
746052                Покупка               664.00          286.0
792851                Покупка               711.20          286.0
834712                Покупка                70.00          330.0
842511                Покупка                70.00          330.0
866711                Покупка              1760.59          286.0
1026107               Покупка               783.00          330.0
1046508               Покупка              2955.00          308.0
1064287               Покупка               972.70          286.0
1207022               Покупка               993.10          286.0
1253580               Покупка              2186.86          286.0
1284604               Покупка                35.00          330.0

         merchant_group_rk      category
739021               341.0  Супермаркеты
746052               341.0  Супермаркеты
792851               341.0  Супермаркеты
834712                 0.0      Фаст Фуд
842511                 0.0      Фаст Фуд
866711               878.0  Супермаркеты
1026107                0.0      Фаст Фуд
1046508             1467.0  Одежда/Обувь
1064287              341.0  Супермаркеты
1207022              341.0  Супермаркеты
1253580               90.0  Супермаркеты
1284604                0.0      Фаст Фуд

In [63]:
group.financial_account_type_cd.unique()

party_rk  transaction_dttm
1         2019-02             [1]
          2019-03             [1]
          2019-04             [1]
          2019-05             [1]
          2019-06             [1]
                             ...
94608     2019-02             [1]
          2019-05             [1]
94610     2019-10             [2]
          2019-11             [2]
          2019-12             [2]
Name: financial_account_type_cd, Length: 426111, dtype: object

In [59]:
group.financial_account_type_cd.unique().apply(lambda x: sum(x)).unique()

array([1, 2, 3], dtype=int64)

In [19]:
df[df.merchant_rk.notna()].shape

(10106600, 10)

In [20]:
df.shape

(10106600, 10)

In [22]:
df[df.merchant_group_rk.notna()]

party_rk                              1
account_rk                            1
financial_account_type_cd             1
transaction_dttm             2019-01-01
transaction_type_desc            Платеж
transaction_amt_rur               10.01
merchant_rk                         4.0
merchant_type                      18.0
merchant_group_rk                   2.0
category                      Duty Free
dtype: object

In [28]:
df.count()

party_rk                     10106600
financial_account_type_cd    10106600
transaction_dttm             10106600
transaction_type_desc        10106600
transaction_amt_rur          10106600
merchant_rk                  10106600
merchant_type                10106600
merchant_group_rk            10106600
category                     10106600
dtype: int64

In [33]:
df.merchant_group_rk.unique().shape

(2838,)

In [34]:
df.merchant_group_rk.max()

2961.0

In [43]:
df.transaction_type_desc.unique()

array(['Покупка', 'Снятие наличных', 'Платеж'], dtype=object)

In [52]:
df.transaction_dttm.unique()

array(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
      dtype=object)